*, ::after, ::before {
    box-sizing: border-box;
}

nav{
    background-color: #ff7062;
}

.navbar-dark .navbar-brand {
    font-size: 38px;
}



#search-section{
   background-color: rgb(245, 245, 245); 
   padding: 30px;
}


#forecast-section{
    background-color: rgb(255, 254, 254);
    
   
}

#button-search{
    background-color: rgb(57, 201, 211);
}

#current-weather{
    background-color: rgb(255, 254, 254);
    height: auto;
    width: auto;
    padding: 10px;
}

#current-weather-input{
    height: 300px;
    width: auto;
    color: black;
}

.day-cont{
    background-color: rgb(57, 201, 211);
    border-radius: 1em;
    height: 230px;
    width: 180px;
    margin: 15px;
    padding: 10px;
    font-size: 18px;
    
}

#five-day-cont, #fiveday-title{
    padding: 0 20px 0 20px;
    background-color: rgb(255, 254, 254);
    

}

.card-title{
    padding: 10px;
}

#current-weather-card{
    height: auto;
    width: auto;
}


ul{
    list-style-type: none;
    margin-left: -40px;
}

li{
    background-color: white;
    border: .1px solid rgba(0, 0, 0, 0.295);
    width: 90%;
    height: 50px;
    padding: 10px 0 0 10px;
    cursor: pointer; 
}

p{
    float: left;
}

.date-five-style{
    font-size: 20px;
    font-weight: bold;
}